:root {
    --darkSlateGray: #395e66;
    --myrtleGreen: #387d7a;
    --seaGreen: #32936f;
    --jadeGreen: #26a96c;
    --kellyGreen: #2bc016;

    --headerHeight: 120px;
    --sideNavWidth: 300px;
    --taskHeight: 100px;
}

@font-face {
    font-family: wixFont;
    src: url(Assets/WixMadeforDisplay-VariableFont_wght.ttf);
}

body {
    display: grid;
    grid-template-columns: var(--sideNavWidth) 1fr;
    grid-template-rows: var(--headerHeight) 1fr;
    height: 100vh;
    margin: 0px;
    font-family: wixFont, sans-serif;
    overflow-y: hidden;
}

button {
    border: none;
    background-color: black;
    height: 40px;
    width: 60px;
    border-radius: 6px;
    color: var(--kellyGreen);
}

button:hover {
    background-color: rgb(31, 31, 31);
    cursor: pointer;
    transition-duration: 0s;
}

.pageHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    font-size: x-large;
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--darkSlateGray);
}

.sortButton {
    position: absolute;
    align-self: flex-end;
    right: 100px;
    margin-bottom: 10px;
    width: 87px;
}

.addTaskButton {
    position: absolute;
    align-self: flex-end;
    right: 10px;
    margin-bottom: 10px;
    width: 80px;
}

.sideNavBar {
    background-color: var(--myrtleGreen);
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--seaGreen);
    padding: 10px;
    gap: 10px;
    overflow-y: auto;
}

.taskWrapper {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 120px 120px;
    grid-template-rows: 45px 20px 40px 80px;
    height: var(--taskHeight);
    flex-shrink: 0;
    border-radius: 6px;
    padding: 15px;
    background-color: var(--kellyGreen);
    overflow: hidden;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

.taskWrapper.expanded {
    height: calc(var(--taskHeight) * 2);
}

.taskName {
    grid-area: 1 / 1 / 2 / 4;
    font-size: x-large;
}

.taskDescription {
    grid-area: 3 / 1 / 5 / 2;
    opacity: 0;
    transition-duration: .5s;
}

.taskDescription::before {
    white-space: pre-wrap;
    font-weight: bold;
    content: 'Description: \A';
}

.taskWrapper.expanded .taskDescription {
    opacity: 1;
    transition-delay: .3s;
}

.dueDate {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
}

.dueDate::before {
    font-weight: bold;
    content: 'Due: ';
}

.taskImportance {
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
}

.taskImportance::before {
    font-weight: bold;
    content: 'Importance: ';
}

.chevron {
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    height: 40px;
    width: 160px;
    background-image: url(Assets/chevron-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateZ(180deg);
    transition: .5s;
}

.taskWrapper.expanded .chevron {
    transform: rotateY(180deg);
}

.editButton,
.completeButton {
    position: relative;
    bottom: 10px;
    width: 80px;
    align-self: center;
    transition-duration: .5s;
    opacity: 0;
}

.taskWrapper.expanded .editButton,
.taskWrapper.expanded .completeButton {
    opacity: 1;
    transition-delay: .3s;
}

.editButton {
    grid-area: 4 / 2 / 5 / 3;
}

.completeButton {
    grid-area: 4 / 3 / 5 / 4;
}

@media (max-width: 1024px) {
    body {
        grid-template-columns: 0px 1fr;
        transition-duration: .4s;
        transition-timing-function: ease-in;
    }

    body.mobileMenu {
        grid-template-columns: 200px 1fr;
    }

    .taskContainer {
        grid-area: 2 / 1 / 3 / 3;
    }

    body.mobileMenu .sideNavBar {
        grid-area: 2 / 1 / 3 / 2;
    }

    .sideNavBar {
        grid-area: 2 / 1 / 3 / 1;
    }

    .expandSideNavButton {
        position: absolute;
        top: 30px;
        left: 30px;
        background-image: url(Assets/menu.svg);
        background-size: cover;
        height: 40px;
        width: 40px;
        border: none;
        background-color: var(--darkSlateGray);
    }

    button:hover {
        background-color: black;
    }

    .expandSideNavButton:hover {
        background-color: var(--darkSlateGray);
    }

    .taskWrapper {
        grid-template-columns: 1fr 1fr;
    }

    .taskName {
        grid-area: 1 / 1 / 2 / 3;
    }

    .dueDate {
        grid-area: 2 / 1 / 3 / 2;
    }

    .taskImportance {
        grid-area: 2 / 2 / 3 / 3;
    }

    .taskDescription {
        position: relative;
        grid-area: 3 / 1 / 5 / 4;
    }

    .editButton,
    .completeButton {
        position: relative;
        bottom: 10px;
        width: 80px;
        justify-self: center;
        align-self: center;
    }

    .editButton {
        grid-area: 4 / 1 / 5 / 2;
    }

    .completeButton {
        grid-area: 4 / 2 / 5 / 3;
    }
}